<br>
<div id="header">
    <h1>SERVICE</h1><br><hr>
</div>
<div class="main">
    <div class="order1">
        <div id="petcare">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdE4FwSfm1HqTIhsLTEa6sJFEgUvwxq9DvGw&usqp=CAU" alt="care">
        </div>
        <div id="info">
            <h3>PET HEALTH CARE</h3>
            <p>We perform a thorough physical examination to determine the Pet’s state of health. We provide the best medical and surgical care to resolve a variety of pet-related medical problems.</p>
            <ul>
                <li>General Health Check-up</li>
                <li>Vaccination & De-worming</li>
                <li>Gynecology & Obstetrics</li>
                <li>Ophthalmology</li>
                <li>Diagnostic Imaging</li>
            </ul>
        </div>  
    </div>
    
    <div class="order2">
        
        <div id="info">
            <h3>SPECIALIZED FACILITIES</h3>
            <p>The team at JP Pet Speciality Hospital are very dedicated and experienced who have converted their love of animals
                into a professional choice. Under Dr.JP’s expert guidance, we are emerging as THE place to go for all of your pet’s
                grooming and personal care needs. Our Services include, but are not limited to: Ultrasound,X-Ray, On-Screen Exam, 
                Microchip Implant, Soft Tissue & Orthopedic Surgery, In-Clinic FIV Test, Laser for Surgery & Therapy,Electrocardiogram,
                Ophthalmic Surgery ,Complete Blood Test.
            </p>
            
        </div>  
        <div id="fecility">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJnJiWteE1DDqbqCoEIlexwf-jmbDXEYcVUA&usqp=CAU" alt="">
        </div>
    </div>
    
    <div class="order1">
        <div id="operation">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAoNX6Zht5X6ivD1VBtB5VHmxC6zvhoiazpg&usqp=CAU" alt="">
        </div>
        <div id="info">
            <h3>EQUIPED OPERATION THEATER</h3>
            <p>The fully equiped operation theater with Gas Anaesthesia Machine, Vital Signs Monitors, 
                Ventilators, Electronic Vessel Sealer, Ultrasound Digital Scanner, Infusion Pump online oxygen,
                 Specialized Instrument for Orthopedic, Ophthalmologic, Thyrocare and Shift Home services. JP Pets specialty
                  hospital is fully equipped and capable to perform all specialty surgical procedures
            </p>
            
        </div>  
    </div>
    
   
    
    <div class="order2">
        
        <div id="info">
            <h3>PET HOLIDAY HOME</h3>
            <p>It's fun and safe; there’s room to run around, lots of human attention and plenty of canine companionship. Our pet shelter is 
                available everyday, Dogs are placed into shelters according to size.
            </p>
            
        </div>  
        <div id="holiday">
            <img src="https://cdn.pixabay.com/photo/2015/02/25/00/07/dog-648170__340.jpg" alt="">
        </div>
    </div>
    
    <div class="order1">
        <div id="petshop">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTomz4--rMxWIZsscsk_533k7bNfcUHFN3u7Q&usqp=CAU" alt="">
        </div>
        <div id="info">
            <h3>PET SHOP</h3>
            <p>We have been serving the animals of Chennai, Coimbatore and beyond for almost 25 years. We carry only the highest quality 
               pet foods with a special focus on raw/frozen foods. We are committed to helping owners find a diet that best suits their 
               pet's needs.We have a wide selection of unique toys, collars, leashes, outdoor gear, sweaters, coats, grooming products, 
               supplements and training aids.
            </p>
            
        </div>  
        
    </div>
</div>
