<div class="image_container">
    <img src="https://png.pngtree.com/png-vector/20220127/ourlarge/pngtree-the-veterinarian-is-examining-the-dog-s-health-png-image_4370545.png" alt="" height="600px">
</div>
<div class="main">
    <div class="main_container">
        <div class="userid_container">
            <form >
                <h1>USER ID</h1>
                <p><input  id="name" name="name" type="text" [(ngModel)]="userid" placeholder="USER ID"></p><br>
            </form>
        </div>
        <div class="password_container">
            <form >
                <h1>PASSWORD</h1>
                <p><input  id="password" name="password" type="password" [(ngModel)]="password" placeholder="PASSWORD"></p><br>
            </form>
        </div>
        <div class="login_button">
            <button id="button"  routerLink="/signup" type="submit">LOGIN</button>
        </div>
    </div>
</div>
