
<div class="container_main">
    <div id="container1">
        <div id="doctor_img">
            <img src="https://cdn.pixabay.com/photo/2020/11/02/19/52/doctor-5707722__340.jpg" alt="">
            <p>john</p>
            <p>Chief Doctor & Founder of JP Pet Speciality Hospital in the year 1988 in Chennai.</p>
        </div>
        <div id="doc_info">
            <h2>WHAT OUR DOCTOR SAYS</h2>
            <p>
                It is a must for a vet to be compassionate while on duty when they treat animals and come in contact with the owners of those animals. Compassion and kindness are essential to treat the animal with respect as dealing with their owners is a sensitive measure.

                A vet must have good communications skill, as they deal with the owners of the animals. Good communication skills and a polite tone gives much-needed satisfaction regarding the treatment. Also, communication helps them instruct and advise the staff in a better manner.

                Vets are important for pets because, besides them, no one fully understands the problem of animals. One can bring a pet to their home but cannot treat them in their illness. Vets play an Essential role in both animal and its owner. Veterinary caretaking services are critical to each pet and its owner. Role and Importance of vets for Pets.

                Lack of care to your pet or any other animal will cause a significant risk to their health. Vets always suggest precautionary medication to all pets to secure them from a disease produced by insects or bugs.

                Vets help in protecting a pet from heartworm disease; gives the best advice on how to save a pet from any deadly disease which could lead them to death. Despite the mentioned above services, a regular pet checkup keeps you advised right—also, vets advise food type, vaccinations, and early treatments to your pets.

            </p>
        </div>
    </div>

</div>
<br><br><br><br><br><br>
<div id="success">
    <div class="experience">
        <h1>17</h1><hr>
        <p>YEARS OF EXPERIENCE</p>
    </div>
    <div class="happy_cust">
        <h1>10000+</h1><hr>
        <p>HAPPY PATIENTS</p>
    </div>
    <div class="staf">
        <h1>10+</h1><hr>
        <p>QUALIFIED</p>
    </div>
</div>
<br><br><br><br><br><br>
<div class="reason">
    <h1>WHY OUR CLINIC</h1><br><hr><br>
    <ul>
        <li>Premier & Pioneering Institute in the field of health care services to pets</li>
        <li>Team of specialist consultant</li>
        <li>Most of the advanced diagnostic equipments gives us an accurate diagnosis</li>
        <li>Continuous upgradation of recent advancement in canine practice</li>
    </ul>
</div>

<div id="slider">
    <div class="success1">
        <h1></h1>
        <div class="img1">
            <img src="" alt="">
        </div>
    </div>
</div>

<div class="timing">
    <h5>⏰ open : 9.00am - 10.00pm</h5>
    <div class="timing2">
        <h5>Note : </h5>
        <ul>
            <li>SUNDAY after 5pm clinic will be closed</li>
            <li>your belongies your safty</li>
            <li>be careful with your pet . It may hurt by other animals</li>
        </ul>
    </div>
</div>